@import url('https://fonts.googleapis.com/css2?family=Rubik:ita,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{

          /*Global Css Variable*/
    /*Colors----------------------------------------------------------------------*/
  --first-color: hsl(353,100%,65%);
  --title-color: hsl(244,24%,26%);
  --text-color: hsl(244,16%,43%);
  --body-text-color: hsl(258,60%,93%);
  --body-color: hsla(188, 65%, 5%, 0.92);
  --container-color: #fff;

  /*Font and Typography------------------------------------------------------------*/
  --body-font:'Rubik', sans-serif;
  --h1-font-size:2.25rem;
  --h2-font-size:1.5rem;
  --h3-font-size:1.25rem;
  --normal-font-size:1rem;
  --small-font-size:0.875rem;
  --smaller-font-size:0.813rem;

  /*Font weight------------------------------------------------------------*/
  --font-medium:500;
  --font-semibold:600;
  --font-bold:700;

  /*Box Shadow------------------------------------------------------------*/
  --shadow:0px 5px 20px 0px rgba(69 67 96 / 10%);
  --border-radius:20px;


  /*---------------------------------------------------------------------------*/
  /*---------------------------------------------------------------------------*/
  /*---------------------------------------------------------------------------*/
  /*---------------------------------------------------------------------------*/
  /*---------------------------------------------------------------------------*/



  /*Global Custom Css Variable*/

  /*--Custom-bg-one: #111f2f;*/
  --Custom-bg-one: #000000;
  --Custom-bg-two: #04293A;
  --Custom-bg-three: #809A6F;
  /*--Custom-bg-Four: #1a222f;*/
  /*--Custom-bg-Four: #111a2f;*/
  /*--Custom-bg-Four: #111115;*/
  --Custom-bg-Four: #111116;
  /*--Custom-bg-six: #fae906;*/
  --Custom-bg-six: #2f5435;



  --Custom-text-one: #efeded;
  --Custom-text-four: #809A6F;
  --Custom-text-Two: #9daaf2;
  --Custom-text-Three: #fff;

  /*--Custom-button-one: #9daaf2;*/
  --Custom-button-one: #809A6F;
  --Custom-button-oneHover: #afa0ff;
}

    /*Responsive Typography--------------------------------------*/
@media screen and (max-width:1024px) {
  :root{
    --h1-font-size:1.75rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1rem;
    --normal-font-size:0.938rem;
    --small-font-size:0.813rem;
    --smaller-font-size:0.75rem;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body,button,input,textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  background-color: var(--body-color);
  line-height: 1.7;
  color: var(--text-color);
}

h1.h2,h3{
  color: var(--title-color);
  font-weight: var(--font-semibold);
  line-height: 1.2;
}

.whiteFont{
  color: var(--body-text-color);
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}

.cardBg{
  background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0))
}

button{
  border: none;
  cursor: pointer;
  outline: none;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container{
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.grid{
  display: grid;
}
.flex{
  display: flex;
}

.section{
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.section-title{
  font-size: var(--h1-font-size);
  margin-left: 0.875rem;
  font-weight: var(--font-bold);
  position: relative;
  margin-bottom: 3.75rem;
}

.section-title::before{
  content: '';
  background: url('./assets/dots-bg.svg');
  height: 2.25rem;
  width: 2.25rem;
  position: absolute;
  left: -0.875rem;
  right: -0.875rem;
}

/*.btn{*/
/*  padding: 0.75rem 2rem;*/
/*  line-height: 1;*/
/*  border-radius: 1.875rem;*/
/*  box-shadow: 0 0 1px rgb(0 0 0 / 0%);*/
/*  border: 1px solid transparent;*/
/*  color: #fff;*/
/*  display: inline-block;*/
/*  background-color: var(--first-color);*/
/*  font-weight: var(--font-bold);*/
/*}*/

@keyframes button-push {
    50%{
      transform: scale(0.8);
    }
  100%{
    transform: scale(1);
  }
}

.btn:hover{
  animation: button-push 0.3s linear 1;
}


.section{
  min-height: 100vh;
  width: 100%;
  background-color: cornflowerblue;
  margin-top: 50px;
}
.active{
  color: var(--Custom-button-one);
}

.activePagePagination{
  border: 1px solid white;
}



/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/



.CustomBgOne{
  background-color: var(--Custom-bg-one);
}
.CustomBgTwo{
  background-color: var(--Custom-bg-two);
}
.CustomBgThree{
  background-color: var(--Custom-bg-three);
}
.CustomBgFour{
  background-color: var(--Custom-bg-Four);
}
.CustomBgFive{
  background-color: var(--Custom-text-one);
}
.CustomBgSix{
  background-color: var(--Custom-bg-six);
}
.CustomBgSeven{
  background: linear-gradient(to right, #2f5435, #809A6F);
}


.CustomTextOne{
  color: var(--Custom-text-one);
}
.CustomTextTwo{
  color: var(--Custom-text-Two);
}
.CustomTextThree{
  color: var(--Custom-text-Three);
}
.CustomTextFour{
  color: var(--Custom-text-four);
}
.CustomTextFive{
  color: var(--Custom-bg-six);
}



.CustomButtonOne{
  background-color: var(--Custom-button-one);
  color: var(--Custom-text-Three);
}
.CustomButtonTwo{
  /*background-color: var(--Custom-bg-six);*/
  background: linear-gradient(to right, #2f5435, #809A6F);
  transition: all 0.3s ease-in-out;
  color: var(--Custom-text-Three);
  background-size: 200% 100%;
  background-position: 0 0;
}
.CustomButtonOne:hover{
  background-color: var(--Custom-button-oneHover);
  color: var(--Custom-text-Three);
}
.CustomButtonTwo:hover{
  background-color: var(--Custom-bg-six);
  animation: bg-slide 0.7s ease-in-out forwards;
  color: var(--Custom-text-Three);
}
@keyframes bg-slide {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}


